.recipe-details {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.recipe-details #recipe-img{
    height: 20rem;
    width: 20rem;
    margin: auto;
}

.recipe-header {
    font-style: oblique;
}