.search-results {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-results h2 {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    color: #f28482;
}

.search-results span {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    color: #84a59d;
}

.search-results button#add-recipe {
    margin: 1rem 0;
    padding: 0.5rem;
    background-color: #84a59d;
    color: white;
    border-radius: 0.5rem;
    border: transparent;
    cursor: pointer;
}

.search-results ul {
    margin: 1rem;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
}

.search-results li {
    margin:0 1rem 3rem 1rem;
}

@media only screen and (max-width: 780px) {
    .search-results h2 {
        margin: 1.5rem 0;
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 480px) {
    .search-results h2 {
        margin: 1rem 0;
        font-size: 1.2rem;
    }
}