.edit-recipe-time {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 6rem;
    padding: 0;
}

.edit-recipe-time input {
    font-size: 0.9rem;
    border:1px solid #77777771;
    text-align: center;
    width: 3rem;
}

.edit-recipe-time .recipe-times {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items:  center;
}

.edit-recipe-time #prep-time,
.edit-recipe-time #cook-time {
    border-right: 0.25px solid black;
}

.edit-recipe-time h4 {
    margin: 1rem 0 0 0;
}

.edit-recipe-time .hours-and-minutes {
    display: flex;
    flex-direction: row;
    margin: 0 0 1rem 0;
}


.edit-recipe-time .hours,
.edit-recipe-time .minutes {
    display: flex;
    flex-direction: row;
    padding: 0 0.5rem;
}

.edit-recipe-time span {
    padding-left: 0.3rem;
    margin: auto;
    height: min-content;
    font-style: oblique;
}