.login {
    height: 60%;
    width: 70%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    border-radius: 0.5rem;
    border:1px solid #77777771;
}

.login h2 {
    margin: 1rem 0 2rem 0;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    color: #5b769a;
}

.login #email-input,
.login .password {
    width: 80%;
    margin: 1rem;
}

.login .password {
    position: relative;
}

.login #email-input,
.login #password-input {
    padding: 0.5rem;
    font-family: inherit;
    border-radius: 0.5rem;
    border:1px solid #77777771;
}

#password-input {
    width: 100%;
    z-index: 0;
}

.login .password img {
    height: 1.2rem;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
}

.login .submit {
    margin: 1.5rem 0;
    padding: 0.5rem;
    background-color: #57756d;
    color: white;
    border-radius: 0.5rem;
    border: transparent;
    cursor: pointer;
}

.login .create-account-text {
    text-align: center;
    line-height: 1.5rem;
}

.login #create-account-link {
    margin-bottom: 1rem;
    color: #5b769a;
}

@media only screen and (max-width: 700px) {
    #email-input,
    #password-input {
        font-size: 0.75rem;
    }

    .login .submit {
        margin: 1rem 0;
        padding: 0.3rem;
    }
}

@media only screen and (max-width: 500px) {
    .login {
        height: 80%;
        width: 90%;
    }

    .create-account-text {
        font-size: 0.9rem;
    }
}