.recipe-tile {
    height: 25rem;
    width: 18rem;
    padding: 0.5rem;
    background-color: white;
}

.recipe-tile #recipe-tile-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
}
.recipe-tile h3 {
    color: #84a59d;
}

.recipe-tile .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 100%;
}

.recipe-tile .recipe-img {
    max-width: 100%;
    max-height: 100%;
}