.edit-instructions-list #add-instruction {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.edit-instructions-list input {
    width: 40%;
    margin-right: 1rem;
    padding: 0.5rem;
    border: 1px solid #77777771;
    border-radius: 0.5rem;
}

.edit-instructions-list .add-instruction-button {
    height: 1.5rem;
    width: 1.5rem;
    padding: 0;
    background-color: #758eaeb7;
    color: white;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

.edit-instructions-list #instruction {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.edit-instructions-list .delete-button-wrapper {
    height: 1.5rem;
    width: 1.5rem;
    padding-left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.edit-instructions-list .delete-icon {
    height: 1rem;
    width: 1rem;
}