.edit-instructions-list #add-instruction {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.edit-instructions-list input {
    width: 80%;
    margin-right: 1rem;
    padding: 0.5rem;
    border: 1px solid #77777771;
    border-radius: 0.5rem;
}

.edit-instructions-list .add-instruction-button {
    height: 1.5rem;
    width: 1.5rem;
    padding: 0;
    background-color: #5b769a;
    color: white;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

.edit-instructions-list #instruction {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.edit-instructions-list .delete-button-wrapper {
    height: 1.5rem;
    width: 1.5rem;
    padding-left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.edit-instructions-list .delete-icon {
    height: 1rem;
    width: 1rem;
}

@media only screen and (max-width: 780px) {
    .edit-instructions-list #ingredient {
        font-size: 0.9rem;
    }

    .edit-instructions-list .delete-button-wrapper {
        height: 1.3rem;
        width: 1.3rem;
        padding-left: 1.7rem;
    }

    .edit-instructions-list .delete-icon {
        height: 0.8rem;
        width: 0.8rem;
    }
}