.app {
  height: 100%;
  display: grid;
  font-family: 'Raleway', sans-serif;
  grid-template-areas: 'header'
                        'main'
                        'footer';
  grid-template-rows: 14% 1fr 5%;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: white;
  scrollbar-width: thin;

}

.app.nav-open,
.app.search-open {
  grid-template-rows: 25% 1fr 5%;
}

.app::-webkit-scrollbar {
  width: 10px;
}

.app::webkit-scrollbar-track {
  background-color: white;
}

.app::webkit-scrollbar-thumb {
  background: rgba(255, 192, 203, 0.274);
}

.app-header {
  grid-area: header;
  display: grid;
  width: 100%;
  grid-template-areas: 'nav-toggle title search-toggle';
  grid-template-columns: 10% 1fr 10%;
  border-bottom: 2px solid black;
}

.nav-open .app-header {
  grid-template-areas: 'nav-toggle title search-toggle'
                        'nav-primary nav-primary nav-primary';
  grid-template-columns: 10% 1fr 10%;
  grid-template-rows: 1fr 45%;
}

.search-open .app-header {
  grid-template-areas: 'nav-toggle title search-toggle'
                        'search-primary search-primary search-primary';
  grid-template-columns: 10% 1fr 10%;
  grid-template-rows: 1fr 45%;
}

.header-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#app-navbar-toggle {
  grid-area: nav-toggle;
}

#app-title {
  grid-area: title;
  font-family: 'Homemade Apple', cursive;
  padding-top: 0.5rem;
  line-height: 3.5rem;
}

#app-title h1 {
  font-size: 2.5rem;
  margin: auto 0;
  width: min-content;
  text-align: center;
}

#app-title span {
  color: #758eae;
}

#app-searchbar-toggle {
  grid-area: search-toggle;
}

.app-main {
  grid-area: main;
  padding: 2rem;
  background-color: #f7ede283;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app-navbar-primary {
  grid-area: nav-primary;
  background-color: #f5cac3a6;
  border-top: 1px solid black;
}

#app-searchbar-primary {
  grid-area: search-primary;
  background-color: #f5cac3a6;
  border-top: 1px solid black;
}

.app-footer {
  background-color: #f5cac3a6;
  border-top: 2px solid black;
  text-align: center;
  font-weight: bold;
}