.search {
    height: 60%;
    width: 50%;
    display: flex;
    background-color: white;
    border-radius: 1rem;
}

.searchbar {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar input {
    width: 95%;
    margin-left: 0.5rem;
    padding: 0.5rem;
    border: none;
    font-size: 1.25rem;
}

.searchbar input::placeholder {
    font-style: italic;
    font-weight: 300;
    color: #777777c7;
}

.searchbar button {
    border: none;
    background-color: transparent;
}

.searchbar .search-icon {
    width: 2rem;
    margin-right: 0.5rem;
    padding: 0.25rem;
}

.searchbar .search-icon:hover {
    cursor: pointer;
}