.navbar {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navbar .link {
    width: 10rem;
    text-align: center;
    color: inherit;
    cursor: pointer;
}

@media only screen and (max-width: 780px) {
    .navbar .link {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 480px) {
    .navbar .link {
        font-size: 0.7rem;
    }
}
